body {
  background: grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

section {
  padding-top: 2rem;
}

h1 {
  color: #fff;
  font-size: 3rem;
}

button {
  cursor: pointer;
  font-size: 20px;
  padding: 10px 15px;
}

button:first-child {
  margin-right: 15px;
}
